//Colors

//BEE

$primary: #ffd100;
$primary-low:#ffee32;

$secondary: #202020;
$secondary-low: #333533;

$tertiary: #d6d6d6;

// //B&W
// $secondary: #f8f9fa;
// $secondary-low:#e9ecef;

// $primary: #212529;
// $primary-low: #343a40;

// $tertiary: #adb5bd;



